<ion-content>
  <ion-toolbar color="primary">
    <ion-footer no-border>
      <ion-label color="md_white_1000" padding-left>{{nome}}</ion-label>
      <ion-label color="md_white_1000" padding-left>{{nis}}</ion-label>
    </ion-footer>
  </ion-toolbar>
  <ion-list>
    <ion-item no-lines>
      <ion-label color="md_gray_600">
        <ion-icon md="md-home" color="md_gray_600" padding-right></ion-icon>
        Home
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="md_gray_600">
        <ion-icon md="md-mail" color="md_gray_600" padding-right></ion-icon>
        Mensagens
      </ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-label color="md_gray_600">
        <ion-icon md="md-calendar" color="md_gray_600" padding-right></ion-icon>
        Calendário
      </ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-label color="md_gray_600">
        <ion-icon md="md-checkbox-outline" color="md_gray_600" padding-right></ion-icon>
        Parcelas
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="md_gray_600">
        <ion-icon md="md-calculator" color="md_gray_600" padding-right></ion-icon>
        Calculadora
      </ion-label>
    </ion-item>
    <ion-item no-lines>
      <ion-label color="md_gray_600">
        <ion-icon md="md-help-circle" color="md_gray_600" padding-right></ion-icon>
        Ajuda
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="md_gray_600">
        <ion-icon md="md-settings" color="md_gray_600" padding-right></ion-icon>
        Configurações
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="md_gray_600">
        <ion-icon md="md-exit" color="md_gray_600" padding-right></ion-icon>
        Sair
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
