nis-modal {
 img {
    width: 279px;
    height: 150px;
    padding-bottom: 0px;
    text-align: center;
  }
  h6, p {
    color: color($colors, md_gray_600);
  }
  p {
    font-size: 11px;
  }
  #button-left {
    float: left;
  }
  #button-right {
    padding-left: 14px;
  }
  #content {
    height: 360px;
    width: 279px;
    background-color: white;
    margin: 80px auto 0; ;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  }
  .background {
    background: rgba(0,0,0,0.5);
  }
}