<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bolsa Família</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="background" onscroll="true">
  <div *ngIf="!isValid" id="default-content" padding (click)="inputNis()">
    <img src="assets/image/designmain.png" alt="circle">
    <h5>VEJA MAIS OPÇÕES</h5>
    <p>Toque para inserir seu NIS</p>
  </div>
  <div *ngIf="isValid" id="custom-content" padding-top>
    <div padding-top (click)="pushCalendario(_authService.nis.charAt(10))">
      <p>Próximo Pagamento</p>
      <h1>{{'26 de janeiro'}}</h1>
    </div>
    <ion-toolbar color="primary">
      <ion-row>
        <ion-col width-45 (click)="pushMensagens()">
          <div class="box-content">
            <img src="assets/icon/mensagens.png" alt="circle">
            <ion-label>NOVAS MENSAGENS</ion-label>
            <p>{{'3 Não lidas'}}</p>
          </div>
        </ion-col>
        <div class="border-right"></div>
        <ion-col width-45 (click)="pushExtrato()">
          <div class="box-content">
            <img src="assets/icon/parcelas.png" alt="circle">
            <ion-label>PAGAMENTOS</ion-label>
            <p>Extrato</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-33 class="border-bottom-right"  (click)="pushCalendario(-1)">
            <img src="assets/icon/calendario.png">
            <p class="text-button">Calendário de Pagamento</p>
          </ion-col>
          <ion-col width-33 class="border-bottom-right" (click)="pushAtendimento()">
            <img src="assets/icon/atendimento.png">
            <p class="text-button">Pontos de Atendimento</p>
          </ion-col>
          <ion-col width-33 class="border-bottom" (click)="pushSobre()">
            <img src="assets/icon/sobre.png">
            <p class="text-button">Sobre o Bolsa Família</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col padding-top width-33 class="border-right" (click)="pushOutrosProgramas()">
            <img src="assets/icon/outrosprogramas.png">
            <p class="text-button">Outros Programas</p>
          </ion-col>
          <ion-col padding-top width-33 class="border-right" (click)="pushInteratividade()">
            <img src="assets/icon/qrcode.png">
            <p class="text-button">Canal de Interatividade</p>
          </ion-col>
          <ion-col padding-top width-33>
            <img src="assets/icon/redes.png">
            <p class="text-button">Redes Sociais</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
