page-home {
  ion-col {
    text-align: center;
    img {
      width: 45px;
      height: 45px;
      margin: auto;
    }
  }
  #logged {
    background-image: url("../assets/image/backgroundcomlogin.png");
    background-size: 100% 100%;
    width: 100%;
    height: 170px;
    text-align: center;

    ion-toolbar {
      width: 100%;
      position: relative;
      bottom: -25px;
    }
    h1 {
      margin-top: 0px;
      color: white;
    }
    p {
      margin-bottom: 0px;
      color:  color($colors, md_orange_100);
    }
    .box-content {
      width: 130px;
      height: 25px;
      margin: 0 auto;

      ion-label {
        color:  color($colors, md_orange_100);
        font-size: 9px;
        margin-bottom: 0px;
        margin-top: 0px;
        float: left;
      }
      img {
        height: 22px;
        width: 34px;
        float: left;
        padding-right: 7px;
      }
      p {
        color: white;
        margin-top: 0px;
        font-size: 12px;
        float: left;
      }
    }
  }
  #not-logged {
    background-image: url("../assets/image/backgroundsemlogin.png");
    background-size: 100% 100%;
    width: 100%;
    height: 170px;
    text-align: center;
    img {
      height: 60%;
    }
    h5 {
      margin-bottom: 0px;
      color: white;
    }
    p {
      margin-top: 0px;
      color: #5a6e77;
    }
  }
  .background {
    background-color: color($colors, light);
  }
  .border-bottom-right, .border-bottom, .border-right {
    border-style:solid;
    border-color: color($colors, light);
  }
  .border-bottom-right {
    border-width: 0px 2px 2px 0px;
  }
  .border-right {
    border-width: 0px 2px 0px 0px;
  }
  .border-bottom {
    border-width: 0px 0px 2px 0px;
  }
  .text-button {
    padding-top: 10px;
    color: color($colors, md_gray_600);
    font-size: 11px;
  }
}
