page-home {
  .background {
    background-color: color($colors, light);
  }
  #feed {
    background-image: url("../assets/image/backgroundsemlogin.png");
    background-size: 100% 100%;
    width: 100%;
    height: 170px;
    text-align: center;
  }
  #feed > img {
    height: 60%;
  }
  #feed > h5 {
    margin-bottom: 0px;
    color: white;
  }
  #feed > p {
    margin-top: 0px;
    color: #5a6e77;
  }
  ion-col {
    text-align: center;
  }
  //
  // ion-col > p não é possível alterar a cor e a fonte
  //
  .text-button {
    padding-top: 10px;
    color: color($colors, md_gray_600);
    font-size: 11px;
  }
  ion-col > img {
    width: 45px;
    height: 45px;
    margin: auto;
  }
  .border-bottom-right, .border-bottom, .border-right {
    border-style:solid;
    border-color: color($colors, light);
  }
  .border-bottom-right {
    border-width: 0px 2px 2px 0px;
  }
  .border-right {
    border-width: 0px 2px 0px 0px;
  }
  .border-bottom {
    border-width: 0px 0px 2px 0px;
  }
}
