<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pagamentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="info" padding>
    <!-- <img src="assets/icon/calendario.png" alt="Icone calendário"> -->
    <div *ngIf="flag">
      <p>Digite o último número do NIS</p>
      <ion-item no-lines>
        <ion-label>NIS</ion-label>
        <ion-input type="tel" [(ngModel)]="nis"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="secondary" small>Acessar</button>
      </div>
    </div>
    <div class="next-pay" *ngIf="!flag">
      <p>Próximo Pagamento</p>
      <h1>{{'26 de janeiro'}}</h1>
    </div>
  </div>
  <ion-card>
    <ion-card-header color="md_gray_600">Próximas datas de pagamento</ion-card-header>
    <ion-card-content>
      <!-- empty -->
    </ion-card-content>
  </ion-card>
</ion-content>
