<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pagamentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="head-content" padding>
    <img src="assets/image/cartaonis.png" alt="Icone calendário"> 
    <div *ngIf="_flag">
      <ion-item>
        <ion-label>Escolha seu último dígito do NIS</ion-label>
        <ion-select [(ngModel)]="numeronis">
          <ion-option value="0">0</ion-option>
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="next-pay" *ngIf="!_flag">
      <p>Próximo Pagamento</p>
      <h1>{{'26 de janeiro'}}</h1>
    </div>
  </div>

  <div padding>
    <ion-item no-padding>
      <ion-label>Selecione o mês</ion-label>
      <ion-select [(ngModel)]="meses">
        <ion-option value="janeiro">Janeiro</ion-option>
        <ion-option value="fevereiro">Fevereiro</ion-option>
        <ion-option value="marco">Março</ion-option>
        <ion-option value="abril">Abril</ion-option>
        <ion-option value="maio">Maio</ion-option>
        <ion-option value="junho">Junho</ion-option>
        <ion-option value="julho">Julho</ion-option>
        <ion-option value="agosto">Agosto</ion-option>
        <ion-option value="setembro">Setembro</ion-option>
        <ion-option value="outubro">Outubro</ion-option>
        <ion-option value="novembro">Novembro</ion-option>
        <ion-option value="dezembro">Dezembro</ion-option> 
      </ion-select>
    </ion-item>
    <ion-item no-padding></ion-item>
    <calendar-component></calendar-component>
  </div>
</ion-content>
